@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#hero{
    background-image:url('src/assets/hotel img 1.jpeg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:rgba(0, 0, 0, 0.455);
    background-blend-mode:multiply;
}
.herr-von-muellerhoff-regular {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
}
#hero2{
    background-image:url('src/assets/hotel img 7.jpeg');
    background-position:2px;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgba(0, 0, 0, 0.837);
    background-blend-mode:multiply;
    height:100vh;
}
#hero3{
    background-image:url('src/assets/hotel img 11.jpeg');
    height:100vh;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:rgba(0, 0, 0, 0.534);
    background-blend-mode:multiply;
}
    